body {
	background-color: var(--color-surface);
	color: var(--color-text);
	font-family: var(--font-primary);
	font-size: var(--text-base);
	line-height: 1.6;
	font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	line-height: 1.2;
	margin-top: 0;
	color: var(--color-text-secondary);
}

h1 {
	font-size: var(--text-5xl);
}

h2 {
	font-size: var(--text-4xl);
}

h3 {
	font-size: var(--text-3xl);
}

h4 {
	font-size: var(--text-2xl);
}

a {
	color: var(--color-primary-light);
	text-decoration: none;
	transition: color var(--transition-fast);
}

a:hover {
	color: var(--color-primary);
}
