@font-face {
	font-family: 'Muller';
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src:
		url('../fonts/MullerBold.woff2') format('woff2'),
		url('../fonts/MullerBold.woff') format('woff');
}

@font-face {
	font-family: 'Muller';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src:
		url('../fonts/MullerRegular.woff2') format('woff2'),
		url('../fonts/MullerRegular.woff') format('woff');
}

@font-face {
	font-family: 'Muller';
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src:
		url('../fonts/MullerMedium.woff2') format('woff2'),
		url('../fonts/MullerMedium.woff') format('woff');
}

@font-face {
	font-family: 'Muller';
	font-weight: 400;
	font-style: italic;
	font-display: swap;
	src:
		url('../fonts/MullerLightItalic.woff2') format('woff2'),
		url('../fonts/MullerLightItalic.woff') format('woff');
}

@font-face {
	font-family: 'Muller';
	font-weight: 700;
	font-style: italic;
	font-display: swap;
	src:
		url('../fonts/MullerMediumItalic.woff2') format('woff2'),
		url('../fonts/MullerRegularItalic.woff') format('woff');
}
